<!DOCTYPE html>
<html lang="ko">
<head>
    <title th:text="#{indexTitle}"></title>
</head>
<body>
<h1 th:text="#{indexTitle}"></h1>
<span> 조회하고 싶은 학생의 번호를 입력해주세요.</span> <br/>
<span> "http://localhost:8080/student/ 번호" 형식으로 입력 </span> <br/>
<span> 1번은 존재하니, 이후 등록되는 학생은 2번부터 입니다. </span> <br/>
<a th:href="@{/student/register}"> <span th:text="#{registerStudent}"></span> </a> </br>
<a href="/logout"> <span th:text="#{logout}"></span> </a> <br/>
<a th:href="${#locale.toString() != 'ko'} ? '?locale=ko':'?locale=en' "> <span th:text="#{locale}"></span> </a> <br/>
</body>
</html>
