<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{viewTitle}"></title>
</head>
<body>
    <span th:text="#{name}"></span> : <span th:text="${student.name}"></span> <br/>
    <span th:text="#{email}"></span> : <span th:text="${student.email}"></span> <br/>
    <span th:text="#{score}"></span> : <span th:text="${student.score}"></span> <br/>
    <span th:text="#{comment}"></span> : <span th:text="${student.comment}"></span> <br/>
    <br />
    <a th:href="@{/student/{id}/modify(id=${student.id})}"> <span th:text="#{modifyStudent}"></span> </a>
</body>
</html>
